@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url(/public/img/fon.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
  }
}